.book {
    padding: 80px 0;
    margin-bottom: 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        .book__info {
            padding-top: 50px;
            .book__title {
                font-size: 44px;
                line-height: 52px;
                margin-bottom: 30px;
            }
            .book__author {
                margin-bottom: 10px;
            }

            .book__descr {

            }
        }
    }
}