.header {
    margin-bottom: 30px;
    background-color: var(--dark-color);
    &__inner {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            font-size: 35px;
            font-weight: 700;
        }

        .menu {
            &__list {
                display: flex;
                align-items: center;
                gap: 30px;
                &-item {
                }
                &-link {
                    border-bottom: 1px solid transparent;
                    transition: all 0.5s;
                    &:hover {
                        border-bottom: 1px solid #fff;
                        font-weight: 600;
                    }
                }
            }
           
        }
        
        .header__buttons {
            display: flex;
            align-items: center;
            gap: 30px;
            .search-btn {
            }
            .favs-btn {
                width: 40px;
                height: 40px;
            }
            .autorization {
                display: flex;
                align-items: center;
                gap: 20px;
                &__btn {
                    padding: 10px 15px;
                    transition: all 0.3s;
                    &:hover {
                        background-color: #fff;
                        border-radius: 100px;
                        color: var(--main-color);
                    }
                }
            }
            
        }
        
    }
    
}
