.footer {
    background-color: var(--dark-color);
    padding: 20px 0;
    &__text {
        margin-bottom: 20px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .social {
            &__list {
                display: flex;
                align-items: center;
                gap: 10px;
                .social__list-img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}